@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #FAF0E6;
    --color-new:#CBE4DE;
    --color-secondary: #37353E;
    --color-accent: #234C6A;
    --color-new2: #EEEEEE;
    --font-family: 'Libre Baskerville', serif;
    
}

